.sidenav-container {
    height: 100%;

  }
  
  .sidenav {
    width: 250px;
    margin-bottom: 20px;
  }
  
  .mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
  }
  
  .spacer {
    flex: 1;
  }
  
  .desktop-menu {
    display: none;
  }
  
  .menu-button {
    display: block;
  }
  
  @media (min-width: 768px) {
    .desktop-menu {
      display: flex;
    }
    .menu-button {
      display: none;
    }
  }
  