.center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: center;
  position: relative; /* To position the action icons within the card */
  transition: transform 0.25s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
  cursor:crosshair;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Product details */
.product-details h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.product-details .description {
  font-size: 16px;
  color: #555;
}

.product-details .price {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-top: 10px;
}

.product-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.remove-icon,
.add-to-cart-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.remove-icon mat-icon {
  color: #ccc;
  transition: color 0.3s;
}

.remove-icon:hover mat-icon {
  color: red;
}

.add-to-cart-icon mat-icon {
  color: green;
}

.empty-wishlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.empty-wishlist-container .empty-icon {
  // font-size: 60px;
  color: #ff4081;
  // margin-bottom: 20px;
}

.empty-wishlist-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.empty-wishlist-container p {
  font-size: 18px;
  color: #666;
}