<div class="center-container" *ngIf="products.length > 0; else emptyWishlist">
  <div class="product-card" *ngFor="let product of products">
    
    <div class="product-image">
      <img [src]="product.processedImg" *ngIf="product.processedImg" alt="{{ product.productName }} Image">
    </div>
    
    <div class="product-details">
      <h2>{{ product.productName }}</h2>
      <p class="description">{{ product.productDescription }}</p>
      <p class="price">Price: ${{ product.price }}</p>
    </div>
    
    <div class="product-actions">
      
      <button class="remove-icon" mat-icon-button (click)="removeFromWishlist(product.productId)">
        <mat-icon>delete</mat-icon>
      </button>
    
      <button class="add-to-cart-icon" mat-icon-button (click)="addToCart(product.productId)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
    
  </div>
</div>

<ng-template #emptyWishlist>
  <div class="empty-wishlist-container">
    <mat-icon class="empty-icon">favorite_border</mat-icon>
    <h2>Your Wishlist is Empty</h2>
    <p>Browse products and add them to your wishlist!</p>
  </div>
</ng-template>
